.pageTitle {
    font-size: 1.5rem; /* Makes the title larger */
    font-weight: bold; /* Makes the title bold */
    color: #007bff; /* Adds a blue color to the title */
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem; /* Adds spacing to the left */
}
.dialog-padding {
    padding: 16px; /* Add padding around the dialog content */
}

.dialog-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.dialog-input {
    margin-bottom: 15px;
}